<!-- Bootstrap Modal -->
<div class="modal fade" id="editFilterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title" id="filterModalLabel">Edit Filter</h5>
                <div class="ms-auto d-flex align-items-center">
                    <a href="{{ path('new_filter') }}" class="non-modal-button btn btn-primary me-2" title="Change to Non-modal">Change to Non-modal</a>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body d-flex flex-column">
                <!-- The form will be loaded dynamically here -->
                <div id="editFilterFormContainer" class="flex-grow-1 overflow-auto"></div>
            </div>
            <div class="modal-footer">
                <div class="d-flex gap-2 mt-4">
                    <button type="button" id="modal-add-criteria" class="btn btn-secondary">Add Criteria</button>
                    <button id="saveEditFilterBtn" type="submit" class="btn btn-primary">Save Filter</button>
                </div>
            </div>
        </div>
    </div>
</div>