<!-- Bootstrap Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Create New Filter</h5>
                <a href="{{ path('new_filter') }}" class="btn btn-primary" title="Change to Non-modal">Change to Non-modal</a>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- The form will be loaded dynamically here -->
                <div id="filterFormContainer"></div>
            </div>
        </div>
    </div>
</div>
